# dependencias principales
numpy
pandas
scikit-learn

# NLP y embeddings
sentence-transformers
transformers
torch
nltk
spacy

# Procesador de texto
python-Levenshtein
unidecode

# Librerías ML
scipy
matplotlib
seaborn

# Utilidades
tqdm
joblib

# Web App
streamlit
plotly